    <div class="caroussel">
        <div class="caroussel-info">
            <h2>Offrez le Meilleur à Votre Voiture !</h2>
            <br />
            <p>Confiez votre véhicule à des experts passionnés !
                Que ce soit pour un entretien, une réparation ou une amélioration, 
                nous mettons tout notre savoir-faire à votre service.
            </p>
            <br />
            <button class="btn-quote" (click)="creerDevis()">
                <i class="fa fa-meet"></i> Prendre un rendez-vous
            </button>
        </div>
    </div>

    <div class="expertise">
        <h1>Nos expertises</h1>
        <p><i>Notre spécialité se repose surtout sur ces marques</i></p>
    </div>
  