$color: #e94016;
$btn-quote-color: #e94016;
$btn-quote-hover-color: rgb(231, 36, 36);
$btn-text-color: white;
$big-font-size : 25px;
$middle-font-size : 20px;

.row {
    width: 100% !important;
    margin: 0;
    height: 500px;
    background-image: url("/assets/images/caroussel.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: $btn-text-color;
    padding-bottom: 50px;

    h2{
        font-weight: bold;
    }

    .caroussel-info {
        padding-top: 150px;
        height: 550px;
        float: right;
        margin-left: 45%;
        width: 50%;
        text-align: right;

        @media (min-width: 1025px) {
            text-align: right;
        }

        @media screen and (max-width: 1024px) {
            float: none;
            margin-left: 0;
            width: 100%;
            text-align: center;
        }
    }
}

.btn-logout {
    background-color: $btn-quote-color;
}

.btn-quote {
    background-color: $btn-quote-color;
    color: $btn-text-color;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 20px;
}

.expertise {
    width: 100% !important;
    height: 350px;
    color: white;
    background-color: $color;
    margin-top: -20px;
    padding-top: 20px;

    h1 {
        margin-top: 20px;
        margin-left: 100px;
    }

    p {
        margin-top: 20px;
        margin-left: 100px;
        font-size: 14px;
        margin-top: -10px;
    }

    .text-center{
        font-size: $big-font-size;
    }
}

@media screen and (min-width: 128px) and (max-width: 1024px) {
    .caroussel-info {
        margin-left: 0;
        float: left;
        width: 100%;
        text-align: center;
    }

    .expertise {
        h1,
        p {
            margin-left: 50px;
        }
    }

    .menu-icon {
        display: block;
        color: $color;
        font-size: 30px;
        padding-top: 0px;
    }

    .mobile-menu {
        right: 0;
        transition: 0.4s ease-in-out;
    }
}
