$color: #e94016;
$btn-quote-color: #e94016;
$btn-quote-hover-color: rgb(231, 36, 36);
$btn-text-color: white;

.caroussel{
    width: 100% !important;
    height: 600px;
    // background-color: red;
    background-image: url("/assets/images/caroussel.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .caroussel-info{
        padding-top: 200px;
        float: right;
        width: 500px;
        text-align: right;
        margin-right: 100px;
    }


}


.btn-quote {
    background-color: $btn-quote-color;
    color: $btn-text-color;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 20px;
}

.btn-logout {
    background-color: $btn-quote-color;
}

.expertise{
    width: 100% !important;
    height: 350px;
    color: white;
    background-color: $color;
    margin-top: -20px;
    padding-top: 20px;
    
    h1{
        margin-top: 20px;
        margin-left: 100px;
    }

    p{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 14px;
        margin-top: -10px;
    }
      
}

@media screen and (min-width: 128px) and (max-width: 1024px) {
    .expertise {
        h1, p{
            margin-left: 50px;
        }
    }

    .menu-icon{
        display: block;
        color: red;
        font-size: 30px;
        padding-top: 0px;
    }

    .mobile-menu{
        right: 0;
        transition: 0.4s ease-in-out;
    }
}

