
<p-card header="Suivie des Tâches">
    <p-table [value]="tasks">
        <ng-template pTemplate="header">
            <tr>
                <th>Prestation</th>
                <th>Marque</th>
                <th>Date debut</th>
                <th>Durée</th>
                <th>Mécanicien</th>
                <th>Etat</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{ task.prestationBrand.prestation.name }}</td>
                <td>{{ task.prestationBrand.brand.name }}</td>
                <td>{{ task.dateStart }}</td>
                <td>{{ task.prestationBrand.duration }}</td>
                <td>{{ task.user.firstName }}</td>
                <td>{{ task.state.name }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>