<div class="space"></div>
@if (!isLoading) {
    <div class="card-caroussel">
        <p-card class="surface-section px-4 py-5 md:px-6 lg:px-8">
            <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
                <div>
                    <div class="font-medium text-3xl text-900">Details du devis</div>
                    <div class="flex align-items-center text-700 flex-wrap">
                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-user mr-2"></i>
                            <span>{{quote.appointment?.user.name }} {{quote.appointment?.user.first_name }}</span>
                        </div>
                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-envelope mr-2"></i>
                            <span>{{quote?.appointment?.user?.email}}</span>
                        </div>
                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-clock mr-2"></i>
                            <span>
                                de {{quote?.appointment?.time_start | date : "d MMMM yyyy HH:mm" }} 
                                à {{quote?.appointment?.time_end | date : "d MMMM yyyy HH:mm" }} 
                            </span>
                        </div>

                        <div class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-car mr-2"></i>
                            <span>{{quote.appointment?.car.license_plate_number }} </span>
                        </div>

                        <div *ngIf="quote?.discount != 0" class="mr-5 flex align-items-center mt-3">
                            <i class="pi pi-dollar mr-2"></i>
                            <span>Remise : {{quote?.discount}}%</span>
                        </div>

                        <div *ngIf="quote?.final_price != 0" class="mr-5 flex align-items-center mt-3">
                            <strong><i class="pi pi-dollar mr-2"></i></strong>
                            <span><strong>Montant à payer : {{quote?.final_price | montant }}</strong></span>
                        </div>
                        
                    </div>
                </div>
            </div>
    
            <br />
            <br />
    
            <p-table *ngIf="this.quote?.quote_details"
                [value]="this.quote?.quote_details" class="mt-2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Prestations</th>
                        <th>Catégorie</th>
                        <th>Statut</th>
                        <th class="price-number">Temps Estimé</th>
                        <th class="price-number">Prix</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quote_detail>
                    <tr>
                        <td>{{ quote_detail.prestation_brand.prestation.name }}</td>
                        <td>{{ quote_detail.prestation_brand.prestation.category.name }}</td>
                        <td></td>
                        <td class="price-number">{{ quote_detail.prestation_brand.duration }} minutes</td>
                        <td class="price-number">{{ quote_detail.price | montant }} </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

} @else {
    <div class="space"></div>
    <app-loading-spinner></app-loading-spinner>
}
<div class="space"></div>