
@if (prestations.length > 0) {
    <p-table 
        #dt
        [value]="prestations"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [globalFilterFields]="['name', 'description', 'category.name']"
        currentPageReportTemplate="{first} sur {last} de {totalRecords} prestations"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template #caption>
            <div class="flex items-center justify-content-end">*
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onFilterGlobal($event, dt)" placeholder="Rechercher..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Categorie</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-prestation>
            <tr>
                <td>
                    <img
                        *ngIf="prestation.image" [src]="prestation.image"
                        alt="img"
                        width="200px"
                    />
                </td>
                <td>{{ prestation.name }}</td>
                <td>{{ prestation.description }}</td>
                <td>{{ prestation.category.name }}</td>
                <td>
                    <p-button icon="pi pi-pencil" severity="info" class="mr-2" [rounded]="true" [outlined]="true" (click)="editPrestation(prestation)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  (click)="confirmDelete(prestation._id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
} @else {
    <app-message-block />
}
<p-dialog [(visible)]="showPrestationForm" [style]="{ width: '500px' }" class="overflow-hidden" header="Prestation Details" [modal]="true">
    <ng-template #content>
        <app-prestation-form [prestation]="selectedPretation"  [messageService]="this.messageService" [confirmationService]="confirmationService"></app-prestation-form>
    </ng-template>
</p-dialog>