
<p-card class="min-w-80 max-w-96 overflow-auto">
    @if (!isloading) {
        
        <div class="flex justify-content-end my-4">
            <p-select [options]="states" [(ngModel)]="selectedState" (onChange)="onStateSelect($event)"  optionLabel="name" placeholder="Selectionnez un etat" class="md:w-56" />
        </div>

        <app-quote-list 
            [title]="'Liste des Devis'" 
            [quotes]="quotes"
            [messageService]="messageService"
            [confirmationService]="confirmationService"
            [showValidationButton]="false"
        ></app-quote-list>
    } @else {
        <app-loading-spinner [height]="'15cm'"></app-loading-spinner>
    }
</p-card>

<p-toast></p-toast>
