<div class="grid gap-3" >
    <img [src]="prestation.image" [alt]="prestation.image" class=" m-auto pb-4" width="250px" *ngIf="prestation.image" />
    <input type="file" (change)="onFileSelected($event)" />
    <div class="w-full">
        <label for="name" class=" font-bold">Name</label>
        <input type="text" pInputText id="name" [(ngModel)]="prestation.name" required autofocus fluid />
        <small class="text-red-500" *ngIf="submitted && !prestation.name">Name is required.</small>
    </div>
    <div class="col-12">
        <label for="description" class=" font-bold">Description</label>
        <textarea id="description" pTextarea [(ngModel)]="prestation.description" required rows="3" cols="20" fluid></textarea>
    </div>

    <div class="col-12">
        <span class=" font-bold">Category</span>
        <div class="grid grid-cols-12 gap-4 mt-4">
            <div *ngFor="let category of categories" class="flex items-center gap-2 col-span-6">
            <p-radiobutton
                [inputId]="'category' + category._id"
                name="category"
                [value]="category"
                [(ngModel)]="prestation.category"
            ></p-radiobutton>
            <label [for]="'category' + category._id">{{ category.name }}</label>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="!isUpdating">
        <span class=" font-bold">Prix par Marque</span>
        <small class="text-red-500" *ngIf="!ArePricesValid()">
            Le prix doit être supérieur à 0
        </small>
        @for (brand of brands; track $index) {
            <div class="flex-auto mt-2">
                <label class="block font-bold mb-2" for="locale-user">
                    {{brand.name}}
                </label>
                <div class="grid">
                    <div class="col">
                        <p-inputnumber [(ngModel)]="brand.price" inputId="locale-user" class="w-full" placeholder="prix" />
                    </div>
                    <div class="col">
                        <p-inputnumber [(ngModel)]="brand.duration" class="w-full" placeholder="minutes" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div class="flex flex-col mt-4 gap-2">
    <button pButton pRipple label="Valider" icon="pi pi-check" (click)="confirmSave($event)"></button>
</div>