.card {
    
    background-color: rgba(240, 240, 240, 0.548);
}

.garage-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem; 
    font-weight: bold;
    color: #b30000; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 0.5rem;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.user-profile i {
    font-size: 1.5rem;
    color: #b30000; 
}

.user-name {
    font-weight: bold;
}

.user-role {
    font-size: 0.9rem;
    color: gray;
}