<div class="container-page flex align-items-center justify-content-center mt-auto ">
	<p-card class="shadow-2 lg:w-4">
		<div class="text-center mb-5">
			<img src="assets/images/car-logo.jpg" alt="Image" height="50" class="mb-3">
			<div class="text-900 text-3xl font-medium mb-3">Bienvenue !</div>
			<span class="text-600 font-medium line-height-3">Connectez-vous pour continuer.</span>
		</div>
	
		<div>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<label for="email" class="block text-900 font-medium mb-2">Email</label>
				<input
					pInputText
					id="email" 
					type="text" 
					placeholder="Email address" 
					formControlName="email"
					class="w-full"
					size="sm"
					required
					[ngClass]="{
						'ng-invalid':
							f['email'].invalid && f['email'].touched
					}"
				/>
				<small
					*ngIf="f['email'].invalid && f['email'].touched"
					class="text-danger">
					L'email est requis.
				</small>
		
				<label for="password" class="block text-900 font-medium mt-3 mb-2">Password</label>
				<input 
					pInputText 
					id="password" 
					type="password"
					placeholder="Password" 
					formControlName="password"
					class="w-full mb-3"
					[ngClass]="{
						'ng-invalid':
							f['password'].invalid && f['password'].touched
					}"
				>
				<small
					*ngIf="f['password'].invalid && f['password'].touched"
					class="text-danger">
					Le mot de passe est requis.
				</small>

				<p-message *ngIf="errorMessage" severity="error" class="mt-3">
					{{errorMessage}}
				</p-message>

				<button pButton pRipple label="S'inscrire" icon="pi pi-user-plus" class="w-full mt-6 mb-3" severity="secondary"></button>
				<button pButton pRipple label="Se connecter" icon="pi pi-user" class="w-full" type="submit"></button>
			</form>
		</div>
	</p-card>
</div>