<body class=" overflow-hidden">
    <p-card class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen">
        <div class="flex flex-column align-items-center justify-content-center">
                <div class="w-full surface-card py-4 px-2 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                    <div class="grid flex flex-column align-items-center">
                        <div class="flex justify-content-center align-items-center bg-pink-500 border-circle" style="height:3.2rem; width:3.2rem;">
                            <i class="pi pi-fw pi-exclamation-circle text-2xl text-white"></i>
                        </div>
                        <h1 class="text-900 font-bold text-5xl mb-2">Error Occured</h1>
                        <span class="text-900 mb-5">{{message}}</span>
                        <img src="assets/images/asset-error.svg" alt="Error" class="mb-5" width="80%">
                    </div>
                </div>
        </div>
    </p-card>
</body>