<div class="layout-wrapper">
  <!-- Header -->
<app-header></app-header>

<div class="layout-body">
  
  <!-- Overlay for mobile -->
  <div 
    class="sidebar-overlay" 
    *ngIf="(layoutService.sidebarHidden$ | async) === false && isMobile"
    (click)="layoutService.toggleSidebar()">
  </div>
  <!-- Sidebar -->
  <div 
    class="sidebar"
    [ngClass]="{ 'hidden': (layoutService.sidebarHidden$ | async) }">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main content -->
  <div class="layout-main-container">
    <router-outlet></router-outlet>
  </div>
</div>

</div>
